@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@200&family=Lato:ital@1&display=swap');

#content{
    max-width: 1600px;
    margin:0 auto;
}

body{
    background-color: #3a5a40;
    font-family: Bitter, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header{
    background-color: #3a5a40;
}

nav a{
    text-decoration: none;
    text-align: center;
    color: #dad7cd;
    padding: 35px;
}

nav a:hover{
    background-color: #588157;
    color: #dad7cd;
    text-decoration: none;
}

h2{
    color: #dad7cd;
    font-family: "Lato";
    margin: 0;
}

h4{
    color: #dad7cd;
}

.home-title{
    color: #dad7cd;
    font-family: "Lato";
    font-size: 2em;
    margin-top: 10px;
}

.book{
    background-color: #3a5a40 ;
    color: #dad7cd;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.join{
    background-color: #588157;
    color: #dad7cd;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover{
    background-color: #a3b18a;
    color: #dad7cd;
}

.join:hover{
    background-color: #a3b18a;
    color: #dad7cd;
}

.msg{
    line-height: 1.5em;
    padding: 35px;
}

.msg h2{
    color: #dad7cd;
    font-family: "Lato";
}

.msg p{
    color: #dad7cd;
    font-size: .8em;
    padding: 15px; 
}

.icon{
    width: 80px;
    padding: 10px;
}

footer{
    background-color: #a3b18a;
    padding: 25px 50px;
    margin-top: 200px;
}

footer h3{
    color: #dad7cd;
    text-decoration: underline;
}

footer a{
    color: #dad7cd;
}

footer a:hover{
    color: #dad7cd;
    text-decoration: underline;
}

footer .social img{
    padding-top: 15px;
}

#hero-msg h1{
    text-align: center;
}

#hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section{
    text-align: center;
}

#background{
    height: 725px;
    background-color: #3a5a40;
}

#logo_link{
    padding-top: 5px;
}

.rivers-card{
    margin: 200px 0;
}

.camping-card{
    margin: 200px 0;
}

.rapids-card{
    margin: 200px 0;
}

.card-img {
    border: 10px solid black
}

main section img{
    box-sizing: border-box;
}