@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@200&family=Lato:ital@1&display=swap');

#content{
    max-width: 1600px;
    margin:0 auto;
}

body{
    background-color: #3a5a40;
    font-family: Bitter, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header{
    background-color: #3a5a40;
    display: grid;
    grid-template-columns: 150px auto;
}

nav {
    display: flex;
    justify-content: space-around;
}
nav a{
    text-decoration: none;
    text-align: center;
    color: #dad7cd;
    padding: 35px;
    margin-left: 100px;
}

nav a:hover{
    background-color: #588157;
    color: #dad7cd;
    text-decoration: none;
}

h2{
    color: #dad7cd;
    font-family: "Lato";
    margin: 0;
}

h4{
    color: #dad7cd;
}

.home-title{
    color: #dad7cd;
    font-family: "Lato";
    font-size: 3em;
    margin-top: 10px;
}

.book{
    background-color: #78c5d7 ;
    color: black;
    text-decoration: none;
    font-size: 20px;
    padding: 15px 50px;
    margin-top: 50px;
    border-radius: 5px;
    font-weight:  700;
}

.join{
    background-color: #78c5d7;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    font-weight:  700;
}

.book:hover{
    background-color: #588157;
    color: #dad7cd;
    font-weight: 700;
}

.join:hover{
    background-color: #588157;
    color: #dad7cd;
    font-weight:  700;
}

.msg{
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    background-color: #3a5a40;
    box-shadow: 0 0 25px #ffffff70;
}

.msg h2{
    color: #dad7cd;
    font-family: "Lato";
}

.msg p{
    color: #dad7cd;
    font-size: .8em;
    padding: 15px; 
}

.icon{
    width: 80px;
    padding: 10px;
}

footer{
    background-color: #a3b18a;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer h3{
    color: #dad7cd;
    text-decoration: none;
}

footer a{
    color: #dad7cd;
    text-decoration: none;
}

footer a:hover{
    color: #dad7cd;
    text-decoration: none;
}

footer .social img{
    padding-top: 15px;
}

#hero{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

#hero-box{
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg{
    grid-column: 2/3;
    grid-row: 1/2;
}

#hero-msg h1{
    text-align: center;
    text-shadow: 2px 2px 0 black;
}

#hero-msg h4 {
    text-align: center;
    color: white;
}

#hero-img {
    width: 100%;
    margin-top: -100px;
}

.button-box {
    text-align: center;
}

main section{
    text-align: center;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#background{
    height: 725px;
    background-color: #3a5a40;
    grid-column: 1/11;
    grid-row: 4/9;
}

.logo{
    width: 113px;
}

#logo_link{
    width: 80px;
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.rivers-card{
    margin: 200px 0;
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card{
    margin: 200px 0;
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card{
    margin: 200px 0;
    grid-column: 8/10;
    grid-row: 2/3;
}

.card-img {
    border: 10px solid black
    /* transition: tranform .5s; */
    /* box-shadow: 5px 5px 10px #6f7364; */
}

.card-img:hover{
    opacity: .6;
    transform: scale(1.1);
}

.mountains{
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img, .mountains{
    width: 100%;

}
main section img{
    box-sizing: border-box;
}



/* Start of Rates and Dates Page css */
#rate-main{
    background-color: #a3b18a;
    display: grid;
    grid-template-columns: 2fr 5fr 1.5fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 1500px;
    border-top: 30px solid #78c5d7;
    /* border-bottom: 30px solid #78c5d7; */
}

#rate-main h1{
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 0 auto;
    padding-top: 20px;
    font-size: 2.5em;
}

#rate-main h2{
    grid-column: 2/3;
    color: black;
}

#rate-main p{
    grid-column: 2/3;
}
#gc-div{
    grid-column: 2/3;
    grid-row: 2/3;
}
#sr-div{
    grid-column: 2/3;
    grid-row: 3/4;
}
#des-div{
    grid-column: 2/3;
    grid-row: 4/5;
}


/* #h2-gc{
    grid-row: 2/3;
}
#p1{
    grid-row: 2/3;
}
#p2{
    grid-row: 2/3;
}
#h2-sr{
    grid-row: 3/4;
}
#p3{
    grid-row: 3/4;
}
#h2-des{
    grid-row: 4/5;
}
#p4{
    grid-row: 4/5;
    line-height: 1.5em;
} */

.left-img{
    grid-column: 1/2;
    width: 90%;
    margin: 0 auto;
    /* border-radius: 5px; */
}
#tr{
    grid-column: 3/4;
    grid-row: 1/3;
    width: 90%;
    margin: 0 auto;
    padding-top: 10px;
    border-radius: 15px;
}
#gc-img{
    grid-row: 2/3;
    border: 5px solid black;
}
#sn-img{
    grid-row: 3/4;
    border: 5px solid black;
}
#des-img{
    grid-row: 4/5;
    border: 5px solid black;
}
#bot-img{
    width: 90%;
    height: 80%;
    margin: 0 auto;
    grid-column: 1/4;
    grid-row: 5/6;
    margin-bottom: 10px;
    box-shadow: 5px 5px 10px #6f7364;
}
#b2{
    grid-column: 2/3;
    grid-row: 5/6;
}
#b3{
    padding: 30px;
    font-size: 2em;
}


/* conact us page */
#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;       
}
.moveDown {
    margin-top: 3em;
}
form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}
  
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
form li + li {
    margin-top: 1em;
}
  
label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
}
  
input, textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
}
  
input:focus,
textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
}
  
textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
}
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
}
  
button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: .5em;
}
  


@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}