h1{
    text-align: center;
    font-size: 3em;
    color: white;
}

h2{
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: 700;
    padding-bottom: 10px;
}

h3{
    text-align: center;
    color: white;
}

body{
    background-color: #FCA6C9;
}

.rus{
    display: block;
    margin: 0 auto;
    width: 10%;
    padding: 15px;
}

.quote1{
    color: white;
    text-align: center;
    font-size: 12px;
    line-height: 2;
}

.quote2{
    color: white;
    text-align: center;
    font-size: 35px;
}

.churchname{
    text-align: center;
    font-size: 12px;
    font-weight: 700;
}

ol{
    font-size: 100%;
    font-weight: 700;
    list-style-position: inside;
    width: 500px;
    margin: 0 auto;
    line-height: 1.5;
    font-weight: 700;
}

h1:hover{
    color: black;
}

