body{
    border: 0px;
    margin: 0px;
    padding: 0px;
    background-color: grey;
}


#grey{
    background-color: grey;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 0px;
    margin: 0px;
    padding: 0px;
}

#top_pic{
    width: 100%;
}

.circle{
    border-radius: 50%;
    height: 300px;
    margin: 30px auto;
    border: 15px solid #484848;
}

footer{
    background-color: white;
}
.fontfooter{
    color: #5f9ea0;
}